.breadcrumbs {
    margin-bottom: 20px;

    &__container {
        @include container;
    }

    &__items {
        @include clearfix;
        border-bottom: solid 1px darken(white, 10%);
        list-style-type: none;
        padding: 20px 0;
    }

    &__item {
        float: left;
        font-size: 0;
        margin: 3px 0;
        white-space: nowrap;

        &::before {
            display: inline-block;
            font-icon: url("../../images/icon_angle_right.svg");
            font-size: 16px;
            line-height: 14px;
            margin: 0 10px;
            vertical-align: top;
            width: 16px; height: 14px;
        }

        &:first-child::before {
            display: none;
        }

        &:last-child {
            opacity: 0.5;
        }
    }

    &__link {
        color: darken(white, 65%);
        display: inline-block;
        font-size: 1rem;
        line-height: 14px;
        white-space: normal;
    }

    @media (max-width: $breakpoint-small) {
        margin-bottom: 15px;

        &__items {
            padding: 10px 0;
        }

        &__item::before {
            margin: 0 10px;
        }
    }

    @media (min-width: $breakpoint-large) {
        margin-bottom: 30px;
    }
}
