.headline {
    margin-bottom: 20px;

    &__container {
        @include container;
        display: block;
    }

    @media (max-width: $breakpoint-small) {
        margin-bottom: 15px;
    }

    @media (min-width: $breakpoint-large) {
        margin-bottom: 30px;
    }
}
