.product-watches {
    margin-bottom: 20px;

    &__container {
        @include container;
    }

    &__empty {
        background-color: rgba(darken(white, 10%), 0.8);
        display: inline-block;
        padding: 15px;
    }

    &:not(.is-empty) &__empty {
        display: none;
    }

    &__items {
        padding-top: 15px;
    }

    &__header {
        display: none;
    }

    &__item {
        align-content: flex-start;
        align-items: center;
        border-bottom: solid 1px darken(white, 10%);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 15px;
        padding-bottom: 15px;
        position: relative;

        &:last-child {
            border-bottom: none;
        }
    }

    &__item-image-container {
        @include aspect-ratio(1);
        position: absolute; top: 0; left: 0;
        width: 50px;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            overflow: hidden;
        }
    }

    &__item-title,
    &__item-price-title {
        display: none;
    }

    &__item-image {
        font-size: 1rem;
        object-fit: contain;
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
        width: 100%; height: 100%;

        &--landscape {
            height: auto;
        }

        &--portrait {
            width: auto;
        }
    }

    &__item-image-placeholder {
        background: url("../../images/image_placeholder.png") center no-repeat;
        background-size: contain;
        margin: auto;
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    }

    &__item-info {
        margin: 7px 45px 15px 65px;
        min-height: 23px;
        order: -1;
        width: 100%;
    }

    &__item--with-additions &__item-info {
        min-height: auto;
    }

    &__item-name {
        @include h5;
        margin-bottom: 5px;
    }

    &__item-link {
        color: darken(white, 85%);
    }

    &__item-properties {
        line-height: 1.2;
    }

    &__item-property {
        display: inline;
    }

    &__item-property-label::after {
        content: ":";
    }

    &__item-property-value::after {
        content: ",";
    }

    &__item-property:last-child &__item-property-value::after {
        display: none;
    }

    &__item-quantity {
        text-align: right;
        white-space: nowrap;

        &::after {
            content: "ks";
        }
    }

    &__item-quantity-label {
        display: none;
    }

    &__item-quantity-input {
        font-size: 1rem;
        height: 42px;
    }

    &__item-quantity-unit {
        font-size: 1rem;
        margin-left: 5px;
    }

    &__item-price {
        line-height: 1;
        margin-left: 15px;
        text-align: right;
    }

    &__item-price-item {
        display: block;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.2;
        white-space: nowrap;
    }

    &__item-price-item-label {
        display: none;
    }

    &__item-price-item-including-vat ~ &__item-price-item-excluding-vat,
    &__item-price-item-excluding-vat ~ &__item-price-item-including-vat {
        color: darken(white, 30%);
        font-size: 11px;
        display: inline-flex;
        vertical-align: top;

        &::before {
            content: "(";
        }

        &::after {
            content: ")";
        }
    }

    &__item-price-item-value {
        font-weight: 600;
    }

    &__item-price-item-vat-label {
        display: none;
        font-size: 12px;
    }

    &__item-price-excluding-vat &__item-price-item-vat-label {
        display: inline;
    }

    &__item-price-item-including-vat ~ &__item-price-item-excluding-vat &__item-price-item-vat-label,
    &__item-price-item-excluding-vat ~ &__item-price-item-including-vat &__item-price-item-vat-label {
        display: inline;
        font-size: inherit;
        margin-left: 3px;
    }

    &__item-actions {
        position: absolute; top: 0; right: 0;
    }

    &__item-remove {
        @include button-danger;
        font-size: 20px;
        line-height: 23px;
        padding: 0;
        min-width: 25px;

        &::before {
            content: "×";
        }
    }

    &__item-remove-content {
        display: none;
    }

    &__item-additions {
        width: 100%;
        margin: 0 0 15px 65px;
    }

    &__item-addition {
        margin-top: 5px;
        padding-left: 23px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__item-addition .checkbox__label::before {
        margin-left: -23px;
    }

    &__item-addition-price {
        display: inline;
    }

    &__item-addition-price-items {
        display: inline-flex;

        &::before {
            content: "(";
        }

        &:after {
            content: ")";
        }
    }

    &__item-addition-price-item {
        display: none;
        font-weight: normal;

        &::before {
            content: "+";
        }

        &:first-child {
            display: inline;
        }
    }

    &__item-addition-price--null &__item-addition-price-item::before {
        content: "zdarma";
    }

    &__item-addition-price-title,
    &__item-addition-price-item-label,
    &__item-addition-price-item-vat-label,
    &__item-addition-price--null &__item-addition-price-item-value {
        display: none;
    }

    &__item-addition-price-item-excluding-vat &__item-addition-price-item-vat-label {
        display: inline;
        font-size: 11px;
    }

    &__summary {
        margin: 20px 0;
        text-align: right;
    }

    &.is-empty &__subtitle,
    &.is-empty &__summary {
        display: none;
    }

    &__summary-price-title {
        display: inline-block;
        margin-right: 3px;
    }

    &__summary-price-title-vat-label {
        display: none;
    }

    &__summary-price-item {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.2;
    }

    &__summary-price-item-including-vat ~ &__summary-price-item-excluding-vat,
    &__summary-price-item-excluding-vat ~ &__summary-price-item-including-vat {
        color: darken(white, 30%);
        font-size: 11px;
        display: flex;

        &::before {
            content: "(";
            flex-grow: 1;
        }

        &::after {
            content: ")";
        }
    }

    &__summary-price-item-label {
        display: none;
    }

    &__summary-price-item-value {
        font-weight: 600;
    }

    &__summary-price-item-vat-label {
        display: none;
        font-size: 12px;
    }

    &__summary-price-excluding-vat &__summary-price-item-vat-label {
        display: inline;
    }

    &__summary-price-item-including-vat ~ &__summary-price-item-excluding-vat &__summary-price-item-vat-label,
    &__summary-price-item-excluding-vat ~ &__summary-price-item-including-vat &__summary-price-item-vat-label {
        display: inline;
        font-size: inherit;
        margin-left: 3px;
    }

    &__buttons {
        font-size: 0;
        margin-left: -5px;
        text-align: right;
    }

    &.is-empty &__buttons {
        text-align: left;
    }

    &__button-continue {
        margin: 0 0 5px 5px;
    }

    &__button-complete {
        @include button-primary;
        margin: 0 0 5px 5px;
    }

    @media (max-width: $breakpoint-small) {
        margin-bottom: 15px;

        &__item-info {
            margin: 5px 40px 15px 65px;
            min-height: 45px;
        }

        &__item-quantity-input {
            height: 36px;
        }

        &__item-price {
            font-size: 16px;
        }

        &__summary {
            margin: 15px 0;
        }

        &__summary-price-item {
            font-size: 16px;
        }

        &__summary-price-item-including-vat ~ &__summary-price-item-excluding-vat,
        &__summary-price-item-excluding-vat ~ &__summary-price-item-including-vat {
            font-size: 11px;
        }
    }

    @media (min-width: $breakpoint-medium) {
        &__item {
            align-items: flex-start;
            min-height: 116px;
            padding-bottom: 12px;
        }

        &__item-image-container {
            width: 100px;
        }

        &__item-info {
            flex: 1 0;
            margin: 12px 15px 15px 115px;
            min-height: 68px;
            width: auto;
        }

        &__item-name {
            min-height: 25px;
        }

        &__item-property {
            display: block;
        }

        &__item-property-value::after {
            display: none;
        }

        &__item-additions {
            margin: 0 135px 15px 115px;
            order: 999;
        }

        &__item-price {
            margin-top: 10px;
        }

        &__item-price-items {
            float: right;
            min-width: 120px;
            text-align: center;
        }

        &__item-price-excluding-vat {
            min-width: 150px;
        }

        &__item-price-excluding-vat &__item-price-item-vat-label {
            display: inline;
        }

        &__item-actions {
            margin-left: 15px;
            position: static;
        }

        &__item-remove {
            font-size: 14px;
            line-height: 40px;
            padding: 0 15px;
            width: 120px;

            &::before {
                display: none;
            }
        }

        &__item-remove-content {
            display: inline;
        }
    }

    @media (min-width: $breakpoint-large) {
        margin-bottom: 30px;
    }
}
