.wizzard {
    &__container {
        @include container;
        padding-right: 0 !important;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__title {
        @include h3;
    }

    &__answers {
        font-size: 0;
    }

    &__answer {
        display: inline-block;
        padding: 0 20px 20px 0;
        width: 33.33%;

        &::before {
            opacity: 0;
        }
    }

    &__answer-link {
        @include aspect-ratio(3 / 2);
        align-items: center;
        justify-content: center;
        background-color: darken(white, 10%);
        color: darken(white, 85%);
        display: flex;
        min-height: 75px;
        overflow: hidden;
        position: relative;

        &::after {
            background-color: white;
            content: "";
            opacity: 0;
            position: absolute; top: 0; right: 0; bottom: 0; left: 0;
            transition: opacity 0.3s ease;
        }
    }

    &__answer.is-active &__answer-link {
        color: $primary;
    }

    &__answer.is-loading &__answer-link::after {
        opacity: 0.3;
    }

    &__answer-image-container {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    }

    &__answer-image {
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &__answer-name {
        background-color: white;
        font-size: 1rem; font-weight: 600;
        line-height: 1;
        margin: 0 10px;
        overflow: hidden;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        text-overflow: ellipsis;
        transition: padding 0.3s ease;
        z-index: 1;
    }

    &__answer.is-loading &__answer-name {
        padding: 15px 35px 15px 15px;

        &::after {
            @include icon-spin;
            content: $font-awesome-5-spinner;
            font-family: "Font Awesome 5";
            font-size: 16px;
            margin: auto 0 auto 7px;
            position: absolute; top: 0; right: 11px; bottom: 2px;
            width: 1em; height: 1em;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
    }

    @media (max-width: $breakpoint-small) {
        &__item {
            margin-bottom: 15px;
        }

        &__answer {
            padding: 0 15px 15px 0;
            width: 50%;
        }

        &__answer-name {
            padding: 15px;
        }

        &__answer.is-loading &__answer-name {
            padding: 15px 22px 15px 8px;

            &::after {
                font-size: 12px;
                right: 7px; bottom: 0;
                width: 12px;
            }
        }
    }

    @media (max-width: $breakpoint-small) {
        &__answer-link {
            padding: 15px 0;

            &::before {
                display: none;
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        &__answer-name {
            font-size: 16px;
        }

        &__answer {
            .site__filter ~ .site__wizzard & {
                width: 50%;
            }
        }
    }

    @media (min-width: $breakpoint-large) {
        &__item {
            margin-bottom: 30px;
        }

        &__answer {
            padding: 0 30px 30px 0;
            width: 25%;

            .site__filter ~ .site__wizzard & {
                width: 33.33%;
            }
        }

        &__answer-name {
            font-size: 18px;
        }
    }
}
