$system-font: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$primary: #EF7F1A;

$facebook: #5D82D1;
$twitter: #50BFF5;
$google-plus: #EB5E4C;
$dribbble: #F7659C;
$youtube: #EF4E41;
$flickr: #0063DC;
$yahoo: #AB47AC;
$linkedin: #238CC8;
$pinterest: #E13138;
$github: #333;
$tumblr: #426D9B;

$success: #51A042;
$warning: #FFC107;
$danger: #EF6262;
$info: #17A2B8;
$gold: #FAC451;
$container-max-width: 1140px;

$breakpoint-small: 576px;
$breakpoint-medium: 767px;
$breakpoint-large: 992px;
