@font-face {
    font-family: "Pixeden 7 Stroke";
    src:
        url("pixeden_7_stroke/pixeden_7_stroke.woff2") format("woff2"),
        url("pixeden_7_stroke/pixeden_7_stroke.woff") format("woff"),
        url("pixeden_7_stroke/pixeden_7_stroke.ttf") format("truetype"),
        url("pixeden_7_stroke/pixeden_7_stroke.svg#pixeden-7-stroke") format("svg");
    font-weight: normal;
    font-style: normal;
}

$pixeden-7-stroke-album: "\E6AA";
$pixeden-7-stroke-arc: "\E6AB";
$pixeden-7-stroke-back-2: "\E6AC";
$pixeden-7-stroke-bandaid: "\E6AD";
$pixeden-7-stroke-car: "\E6AE";
$pixeden-7-stroke-diamond: "\E6AF";
$pixeden-7-stroke-door-lock: "\E6B0";
$pixeden-7-stroke-eyedropper: "\E6B1";
$pixeden-7-stroke-female: "\E6B2";
$pixeden-7-stroke-gym: "\E6B3";
$pixeden-7-stroke-hammer: "\E6B4";
$pixeden-7-stroke-headphones: "\E6B5";
$pixeden-7-stroke-helm: "\E6B6";
$pixeden-7-stroke-hourglass: "\E6B7";
$pixeden-7-stroke-leaf: "\E6B8";
$pixeden-7-stroke-magic-wand: "\E6B9";
$pixeden-7-stroke-male: "\E6BA";
$pixeden-7-stroke-map-2: "\E6BB";
$pixeden-7-stroke-next-2: "\E6BC";
$pixeden-7-stroke-paint-bucket: "\E6BD";
$pixeden-7-stroke-pendrive: "\E6BE";
$pixeden-7-stroke-photo: "\E6BF";
$pixeden-7-stroke-piggy: "\E6C0";
$pixeden-7-stroke-plugin: "\E6C1";
$pixeden-7-stroke-refresh-2: "\E6C2";
$pixeden-7-stroke-rocket: "\E6C3";
$pixeden-7-stroke-settings: "\E6C4";
$pixeden-7-stroke-shield: "\E6C5";
$pixeden-7-stroke-smile: "\E6C6";
$pixeden-7-stroke-usb: "\E6C7";
$pixeden-7-stroke-vector: "\E6C8";
$pixeden-7-stroke-wine: "\E6C9";
$pixeden-7-stroke-cloud-upload: "\E68A";
$pixeden-7-stroke-cash: "\E68C";
$pixeden-7-stroke-close: "\E680";
$pixeden-7-stroke-bluetooth: "\E68D";
$pixeden-7-stroke-cloud-download: "\E68B";
$pixeden-7-stroke-way: "\E68E";
$pixeden-7-stroke-close-circle: "\E681";
$pixeden-7-stroke-id: "\E68F";
$pixeden-7-stroke-angle-up: "\E682";
$pixeden-7-stroke-wristwatch: "\E690";
$pixeden-7-stroke-angle-up-circle: "\E683";
$pixeden-7-stroke-world: "\E691";
$pixeden-7-stroke-angle-right: "\E684";
$pixeden-7-stroke-volume: "\E692";
$pixeden-7-stroke-angle-right-circle: "\E685";
$pixeden-7-stroke-users: "\E693";
$pixeden-7-stroke-angle-left: "\E686";
$pixeden-7-stroke-user-female: "\E694";
$pixeden-7-stroke-angle-left-circle: "\E687";
$pixeden-7-stroke-up-arrow: "\E695";
$pixeden-7-stroke-angle-down: "\E688";
$pixeden-7-stroke-switch: "\E696";
$pixeden-7-stroke-angle-down-circle: "\E689";
$pixeden-7-stroke-scissors: "\E697";
$pixeden-7-stroke-wallet: "\E600";
$pixeden-7-stroke-safe: "\E698";
$pixeden-7-stroke-volume2: "\E601";
$pixeden-7-stroke-volume1: "\E602";
$pixeden-7-stroke-voicemail: "\E603";
$pixeden-7-stroke-video: "\E604";
$pixeden-7-stroke-user: "\E605";
$pixeden-7-stroke-upload: "\E606";
$pixeden-7-stroke-unlock: "\E607";
$pixeden-7-stroke-umbrella: "\E608";
$pixeden-7-stroke-trash: "\E609";
$pixeden-7-stroke-tools: "\E60A";
$pixeden-7-stroke-timer: "\E60B";
$pixeden-7-stroke-ticket: "\E60C";
$pixeden-7-stroke-target: "\E60D";
$pixeden-7-stroke-sun: "\E60E";
$pixeden-7-stroke-study: "\E60F";
$pixeden-7-stroke-stopwatch: "\E610";
$pixeden-7-stroke-star: "\E611";
$pixeden-7-stroke-speaker: "\E612";
$pixeden-7-stroke-signal: "\E613";
$pixeden-7-stroke-shuffle: "\E614";
$pixeden-7-stroke-shopbag: "\E615";
$pixeden-7-stroke-share: "\E616";
$pixeden-7-stroke-server: "\E617";
$pixeden-7-stroke-search: "\E618";
$pixeden-7-stroke-film: "\E6A5";
$pixeden-7-stroke-science: "\E619";
$pixeden-7-stroke-disk: "\E6A6";
$pixeden-7-stroke-ribbon: "\E61A";
$pixeden-7-stroke-repeat: "\E61B";
$pixeden-7-stroke-refresh: "\E61C";
$pixeden-7-stroke-add-user: "\E6A9";
$pixeden-7-stroke-refresh-cloud: "\E61D";
$pixeden-7-stroke-paperclip: "\E69C";
$pixeden-7-stroke-radio: "\E61E";
$pixeden-7-stroke-note2: "\E69D";
$pixeden-7-stroke-print: "\E61F";
$pixeden-7-stroke-network: "\E69E";
$pixeden-7-stroke-prev: "\E620";
$pixeden-7-stroke-mute: "\E69F";
$pixeden-7-stroke-power: "\E621";
$pixeden-7-stroke-medal: "\E6A0";
$pixeden-7-stroke-portfolio: "\E622";
$pixeden-7-stroke-like2: "\E6A1";
$pixeden-7-stroke-plus: "\E623";
$pixeden-7-stroke-left-arrow: "\E6A2";
$pixeden-7-stroke-play: "\E624";
$pixeden-7-stroke-key: "\E6A3";
$pixeden-7-stroke-plane: "\E625";
$pixeden-7-stroke-joy: "\E6A4";
$pixeden-7-stroke-photo-gallery: "\E626";
$pixeden-7-stroke-pin: "\E69B";
$pixeden-7-stroke-phone: "\E627";
$pixeden-7-stroke-plug: "\E69A";
$pixeden-7-stroke-pen: "\E628";
$pixeden-7-stroke-right-arrow: "\E699";
$pixeden-7-stroke-paper-plane: "\E629";
$pixeden-7-stroke-delete-user: "\E6A7";
$pixeden-7-stroke-paint: "\E62A";
$pixeden-7-stroke-bottom-arrow: "\E6A8";
$pixeden-7-stroke-notebook: "\E62B";
$pixeden-7-stroke-note: "\E62C";
$pixeden-7-stroke-next: "\E62D";
$pixeden-7-stroke-news-paper: "\E62E";
$pixeden-7-stroke-musiclist: "\E62F";
$pixeden-7-stroke-music: "\E630";
$pixeden-7-stroke-mouse: "\E631";
$pixeden-7-stroke-more: "\E632";
$pixeden-7-stroke-moon: "\E633";
$pixeden-7-stroke-monitor: "\E634";
$pixeden-7-stroke-micro: "\E635";
$pixeden-7-stroke-menu: "\E636";
$pixeden-7-stroke-map: "\E637";
$pixeden-7-stroke-map-marker: "\E638";
$pixeden-7-stroke-mail: "\E639";
$pixeden-7-stroke-mail-open: "\E63A";
$pixeden-7-stroke-mail-open-file: "\E63B";
$pixeden-7-stroke-magnet: "\E63C";
$pixeden-7-stroke-loop: "\E63D";
$pixeden-7-stroke-look: "\E63E";
$pixeden-7-stroke-lock: "\E63F";
$pixeden-7-stroke-lintern: "\E640";
$pixeden-7-stroke-link: "\E641";
$pixeden-7-stroke-like: "\E642";
$pixeden-7-stroke-light: "\E643";
$pixeden-7-stroke-less: "\E644";
$pixeden-7-stroke-keypad: "\E645";
$pixeden-7-stroke-junk: "\E646";
$pixeden-7-stroke-info: "\E647";
$pixeden-7-stroke-home: "\E648";
$pixeden-7-stroke-help2: "\E649";
$pixeden-7-stroke-help1: "\E64A";
$pixeden-7-stroke-graph3: "\E64B";
$pixeden-7-stroke-graph2: "\E64C";
$pixeden-7-stroke-graph1: "\E64D";
$pixeden-7-stroke-graph: "\E64E";
$pixeden-7-stroke-global: "\E64F";
$pixeden-7-stroke-gleam: "\E650";
$pixeden-7-stroke-glasses: "\E651";
$pixeden-7-stroke-gift: "\E652";
$pixeden-7-stroke-folder: "\E653";
$pixeden-7-stroke-flag: "\E654";
$pixeden-7-stroke-filter: "\E655";
$pixeden-7-stroke-file: "\E656";
$pixeden-7-stroke-expand1: "\E657";
$pixeden-7-stroke-exapnd2: "\E658";
$pixeden-7-stroke-edit: "\E659";
$pixeden-7-stroke-drop: "\E65A";
$pixeden-7-stroke-drawer: "\E65B";
$pixeden-7-stroke-download: "\E65C";
$pixeden-7-stroke-display2: "\E65D";
$pixeden-7-stroke-display1: "\E65E";
$pixeden-7-stroke-diskette: "\E65F";
$pixeden-7-stroke-date: "\E660";
$pixeden-7-stroke-cup: "\E661";
$pixeden-7-stroke-culture: "\E662";
$pixeden-7-stroke-crop: "\E663";
$pixeden-7-stroke-credit: "\E664";
$pixeden-7-stroke-copy-file: "\E665";
$pixeden-7-stroke-config: "\E666";
$pixeden-7-stroke-compass: "\E667";
$pixeden-7-stroke-comment: "\E668";
$pixeden-7-stroke-coffee: "\E669";
$pixeden-7-stroke-cloud: "\E66A";
$pixeden-7-stroke-clock: "\E66B";
$pixeden-7-stroke-check: "\E66C";
$pixeden-7-stroke-chat: "\E66D";
$pixeden-7-stroke-cart: "\E66E";
$pixeden-7-stroke-camera: "\E66F";
$pixeden-7-stroke-call: "\E670";
$pixeden-7-stroke-calculator: "\E671";
$pixeden-7-stroke-browser: "\E672";
$pixeden-7-stroke-box2: "\E673";
$pixeden-7-stroke-box1: "\E674";
$pixeden-7-stroke-bookmarks: "\E675";
$pixeden-7-stroke-bicycle: "\E676";
$pixeden-7-stroke-bell: "\E677";
$pixeden-7-stroke-battery: "\E678";
$pixeden-7-stroke-ball: "\E679";
$pixeden-7-stroke-back: "\E67A";
$pixeden-7-stroke-attention: "\E67B";
$pixeden-7-stroke-anchor: "\E67C";
$pixeden-7-stroke-albums: "\E67D";
$pixeden-7-stroke-alarm: "\E67E";
$pixeden-7-stroke-airplay: "\E67F";
