{% extends './_layout.html.twig' %}
{% set breadcrumbs = [fixtures().name, 'Můj profil', 'Editace profilu'] %}

{% block page %}fos-user-resetting-request{% endblock %}

{% block content %}
    <div class="user-content">
        <div class="user-content__container">
            <h1 class="user-content__title">Zapomenuté heslo</h1>

            <form action="/" method="POST" class="fos_user_resetting_request" data-component-native-validation>
                <div class="form-group">
                    <label class="control-label" for="resetLogin">E-mail</label>

                    <div class="input-group">
                        <label class="input-group-addon" for="resetLogin"><i class="icon icon-email"></i></label>
                        <input id="resetLogin" class="form-control" name="username" placeholder="E-mail" required="" oninvalid="this.setCustomValidity(this.getAttribute('data-validation-message'))" oninput="this.setCustomValidity('')" data-validation-message="Vyplňte e-mail." type="email">
                    </div>
                </div>

                <div class="form-buttons form-group">
                    <button class="btn btn-primary">Nastavit nové heslo</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
