{% extends './detail.html.twig' %}

{% block content %}
    {{ parent() }}

    <div id="sendQuestionModal" class="send-question modal fade" role="dialog" style="display: block">
        <div class="modal-dialog" style="top: 25%">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title send-question__title">Odeslat dotaz</h3>
                    <button class="close button" data-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="required control-label" for="contact_email_value">E-mail</label>

                        <div class="input-group">
                            <label class="input-group-addon" for="contact_email_value"><i class="icon icon-email"></i></label>
                            <input type="email" id="contact_email_value" name="contact[email][value]" required="required" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="contact_phone">Telefon</label>

                        <div class="input-group">
                            <label class="input-group-addon" for="contact_phone"><i class="icon icon-phone"></i></label>
                            <input type="text" id="contact_phone" name="contact[phone]" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required control-label" for="contact_name_value">Jméno</label>

                        <div class="input-group">
                            <label class="input-group-addon" for="contact_name_value"><i class="icon icon-user"></i></label>
                            <input type="text" id="contact_name_value" name="contact[name][value]" required="required" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required control-label" for="contact_message">Zpráva</label>
                        <textarea id="contact_message" name="contact[message]" required="required" placeholder="" class="form-control"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="button send-question__button send-question__button-cancel" data-dismiss="modal">Zavřít</a>
                    <button type="submit" id="contact_send" name="contact[send]" class="send-question__button send-question__button-confirm btn">Odeslat</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="modal-backdrop fade in"></div>
{% endblock %}
